*,body{
    margin: 0;
    padding: 0;
  }

  header{
    background: crimson;
    color: white;
    padding: 20px;
  }

 header h3{
  font-size: 30px;
  text-align: center;
  padding: 5px;
 }

 header p{
   color:yellow;
 }

 .content{
  margin-left: 2%;
  margin-right: 2%;
 }

 nav{
   background-color: gray;
   padding: 20px;
 }

 nav ul{
   list-style-type: none;
 }
 nav ul li{
  display: inline;
  margin: 5px;
 }

 nav ul li a{
   text-decoration: none;
   color: black;
   font-size: 20px;
   padding: 5px;
 }

 nav ul li a:hover{
    border-bottom: 2px solid red;
    color: white;
   
 }

 table.contact-details {
  border-collapse: collapse;
  width: 50%;
  margin: auto;
}

.contact-details th, td {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
}

.contact-details tbody tr:hover{
   background-color: lightgray;
}

.contact-details tr th{
    text-align: center;
    background-color: crimson;
    color:white;
}

button{
  padding: 10px;
  font-size: 15px;
  border-radius: 4px;
  background-color: darkblue;
  color: white;
}
button:hover{
  background-color: blue;
}
#formBox{
  width: 50%;
  margin: auto;
  box-shadow: 10px 10px 5px grey;
  padding-left: 10px;
  
}
.regForm{
  border: 1px solid gray;
  padding: 10px;
}

.regForm h3{
    background-color: crimson;
    color: white;
    padding: 5px;
}
.regForm label{
  width: 150px;
  float: left;
  font-size: 15px;
  padding-top: 5px;
}
.regForm .clsText,select{
  width: 300px;
  height: 35px;
}

.regForm .clsText:hover{
  background-color: lightgray;

}


.regForm p{
  margin-top: 5px;
  margin-bottom: 5px;
}
