<div class="row">
  <div class="col-md-6">
    <div *ngIf="labels && labels.length!=0">
      <select class="form-control" (change)="getSelectedTeamPlayers($event)">
          <option value="">Select Team Label</option>
          <option *ngFor="let label of labels" value={{label}}>{{label}}</option>
      </select>
    </div>

    <div *ngIf="players && players.length>0" class="mt-2">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Label</th>
            <th scope="col">Role</th>
            <th scope="col">Amount</th>
          </tr>
        </thead>
          <tbody>
              <tr *ngFor="let player of players">
                  <td>{{player.name}}</td>
                  <td>{{player.label}}</td>
                  <td>{{player.role  | uppercase}}</td>
                  <td>{{player.price | currency:'INR'}}</td>
              </tr>
          </tbody>
        <tr>

        </tr>
      </table>
    </div>
  </div>
  <div class="col-md-6">
    <div *ngIf="pieChart">
        <google-chart [data]="pieChart" (chartSelect)='select($event)'></google-chart>
    </div>
    <div *ngIf="playerByRole && playerByRole.length>0" class="mt-2">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Label</th>
            <th scope="col">Role</th>
            <th scope="col">Amount</th>
          </tr>
        </thead>
          <tbody>
              <tr *ngFor="let player of playerByRole">
                  <td>{{player.name}}</td>
                  <td>{{player.label}}</td>
                  <td>{{player.role  | uppercase}}</td>
                  <td>{{player.price | currency:'INR'}}</td>
              </tr>
          </tbody>
        <tr>

        </tr>
      </table>
      </div>
  </div>
</div>
