<div class="row">

    <div class="col-md-6">
    <div class="form-group">
      <select class="form-control" #team (change)="playerDetails(team.value)">
          <option value="">Select Team Label</option>
          <option *ngFor="let label of labels">{{label}}</option>
      </select>
    </div>
    <!-- Player Details start-->
    <div *ngIf="players && players.length > 0">

        <table class="table hover">
          <thead>
            <tr>
              <th>Name</th>
              <th>Role</th>
              <th>Label</th>
              <th>Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let player of players">
                <td>{{player.name}}</td>
                <td>{{player.role | uppercase}}</td>
                <td>{{player.label}}</td>
                <td>{{player.price | currency:'INR'}}</td>
            </tr>

          </tbody>
        </table>

    </div>
    <!-- Player Details end-->
    </div>
    <div class="col-md-6">
      <div class="mt-5" *ngIf="pieChartData && pieChart">
        <google-chart [data]="pieChart"></google-chart>
      </div>

    </div>

</div>
